.fs-xl {
    font-size: 1.5rem;
}

.fs-l {
    font-size: 1rem;
}

.fs-m {
    font-size: 0.7rem;
}

.fs-s {
    font-size: 0.5rem;
}

.l-height {
    line-height: 1rem;
}

.fw-b {
    font-weight: bold;
}

.t-al {
    text-align: center;
}

span {
    color: #e04d39;
}